.block1
 {
	color: white;
	margin-top: 250px;
	margin-left: 43%;
	min-width: 1px;
	font-size: 40px;
 }
 .block2
 {
	 color: white;
	 margin-top: 150px;
	 margin-left: 35%;
	 min-width: 1px;
	 font-size: 30px
 }
 .block3
 {
	 color: white;
	 margin-top: 15px;
	 margin-left: 30%;
	 min-width: 1px;
	 font-size: 15px;
	 opacity: 0.5;
 }
 .block3a3
 {
	 color: white;
	 min-width: 1px;
	 font-size: 15px;
	 opacity: 0.5;
	 margin-left: 36%;
 }
 .block4
 {
	color: white;
	min-width: 1px;
	max-width: 118px;
	border: 2px solid  #42aaff;
	padding: 2px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	margin-left: 46%; 
	margin-top: 30px;
 }
 